body {
    margin: 0;
    padding: 0%;
    font-family: 'Libre Baskerville', sans-serif;
    color: #325050;
    font-size: 100%;
}
.container {
    display: grid;
    grid-template-rows: 355px 1fr 1fr 1fr 300px 150px;
    grid-template-columns: 2fr 1fr;
    /* give the container display grid */
    /* with six rows, 50px high */
    /* default all cells/children on the left be 2/3 the screen width, and all on the left 1/3 */
}
.container > div {
    border: solid black 2px;
}
#zen-garden-headline {
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    margin-left: 370px;
    margin-top: 75px;
    margin-bottom: 0px;
    /* position: relative;
    top: 60px;
    left: 370px; */
}
#header2 {
    color: white;
    font-size: 25px;
    font-style: italic;
    opacity: 0.5;
    margin-left: 380px;
    margin-top: 8px;
    /* position: relative;
    left: 370px;
    top: 40px; */
}
.zenBanner {
    background-image: url("http://www.csszengarden.com/214/huntington.jpg");
    grid-column: 1/3;
    grid-row: 1/2;
}
#zen-banner-img {
    
    position: relative;
    height: 350px;
    width: 100%;
}
#white-circle {
    position: absolute;
    /* background-color: white; */
    left: 115px;
    top: 0px;
    height: 300px;
    opacity: 0.3;
}
h3 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: normal;
    margin-top: 0;
}
.intro {
    grid-row: 2/3;
}
.introParagraphs {
    width: 85%;
    margin-left: 10%;
    margin-top: 35px;
    margin-bottom: 35px;
    /* padding: 2em 0% 3em 7%; */
    width: 66%;
}
.introParagraphs > a {
    color: #809b7c;
}
a {
    text-decoration: none;
}
.viewDesigns {
    grid-row: 1/10;
    grid-column: 2/3;
    font-family: 'Julius Sans One', sans-serif;
    /* background-color: #325050;
    z
    -index: -1; */
}
.design-box {
    padding: 167px;
}
.design-box > a {
    color: white;
    text-decoration: none;
    font-style: normal;
    text-transform: uppercase;
}
.authors {
    /* background-color: #325050; */
    font-family: 'Libre Baskerville', sans-serif;
    text-decoration: none;
    grid-row: 2/3;
    grid-column: 2/3;
}
.authors ul {
    list-style: none;
}
.sidebar {
    /* margin: 0 29.4% 0 14.7%; */
    margin-right: 39%;
    padding: 0;
    margin-left: 15%;
}

.benefits {
    grid-row: 3/4;
    grid-column: 1/3;
    background-image: url("http://www.csszengarden.com/214/bamboo.png");
    background-attachment: fixed;
    background-color: rgba(138, 188, 159, 0.5);
}

.benefitsParagraphs {
    
    /* padding: 65px 40% 101px 5%; */
    width: 85%;
    margin-left: 6%;
    margin-top: 35px;
}

.links {
    /* background-color: rgba(138,188,159,0.5); */
    
    grid-row: 3/4;
    grid-column: 2/3;
}
.sidebar-links {
    list-style: none;
    margin-right: 54%;
    padding: 0;
    margin-left: 15%;
}
.sidebar-links > li {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.empty {
    grid-row: 4/5;
    background-color: bisque;
}
.requirements {
    grid-column: 1/2;
    grid-row: 4/5;
    padding: 2em 0% 3em 7%;
}
.zen-garden-book {
    /* make these span the width of the page */
    color: white;
    background-image: url("http://www.csszengarden.com/214/koi.jpg");
    font-style: italic;
    width: auto;
    text-align: center;
    grid-column: 1/3;
    grid-row: 5/6;

}
#mediatemple {
    padding: 113px;
    margin: 0;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.4);;
    font-style: italic;
}
#mediatemple > a {
    color: white;
    text-decoration: none;
    font-style: normal;
}
#mediatemple > a:hover {
    text-decoration: underline;
}
.footerIcons {
    grid-column: 1/3;
    grid-row: 6/7;
    background-color: #134347;
    padding: 50px;
}


/* FLEX */
/* use flexbox to make the icons behave like css zen garden's social icons */
.icons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;
    padding: 10px;
    font-family: 'verdemoderna';
}

.icons > div {
    /* width: 30px;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 50%; */
    font-size: 60px;

}
#html {
    color: white;
    /* border: 1px solid white;
    border-radius: 39px;
    padding: 15px; */
    /* font-size: 50px; */
    height: 41px;
    width: 39px;
    transition: 0.3s ease;
}
#html:hover {
    color: black;
}
#css {
    transition: 0.3s ease;
    color: white;
}
#css:hover {
    color: black;
}
#cc {
    transition: 0.3s ease;
    color: white;
}
#cc:hover {
    color: black;
}
#access {
    transition: 0.3s ease;
    color: white;
}
#access:hover {
    color: black;
}
#git {
    color: white;
    transition: 0.3s ease;
}
#git:hover {
    color: black;
}

